.quiz-wrapper {

  font-family: Roboto, sans-serif;
  padding-bottom: 100px;
  height: 100vh;

  h1 {
    color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 42px;
  }

  .quiz-card {
    max-width: 500px;
    height: fit-content;
    border: none;
    border-radius: 20px;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    //margin: auto;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    //position: absolute;
    //top: 20%;
    h5 {
      margin-bottom: 10px;
      margin-top: 20px;
    }


  }
}

.button {
  margin: 10px;
  background-color: black;
  color: goldenrod;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

//button:hover {
//  color: black;
//  background-color: goldenrod;
//
//}
.correct{
background-color: green;
}