.quiz-wrapper {
background: #011401;
  font-family: Roboto, sans-serif;
  padding-bottom: 100px;
  height: 100vh;

  h1 {
    color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 42px;
  }

  .quiz-card {
    background: url("https://i.pinimg.com/564x/60/22/52/602252b4b408f8b8902c94868e6f3ced.jpg");
    background-repeat: no-repeat;
    height: 343px;
    border: none;
    border-radius: 20px;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    max-width: 560px;
    text-align: center;
    width: 100%;

    h3 {
      margin-bottom: 10px;
      margin-top: 20px;
      color: red;
      font-size: 24px;
    }

    h4 {
      color: #053505;
      margin-bottom: 10px;
      font-size: 24px;
      font-family: sans-serif;

    }

    p {
  font-size: 22px;
      font-weight:500;
      margin-bottom: 10px;
    }
  }
}

.button {
  margin: 10px;
  background-color: black;
  color: goldenrod;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
}
.correct {
  background-color: green;
  color: white;
}
.next-btn-wrapper{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  button{
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    background-color: #042436;
    color: white;
    cursor: pointer;
  }

}
//button:hover {
//  color: black;
//  background-color: goldenrod;
//
//}
