.results {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 100px;
  background: linear-gradient(180deg, rgba(233, 232, 241, 1) 0%, rgba(255, 255, 255, 1) 0%, rgb(152, 220, 229) 49%, rgb(164, 237, 247) 100%, rgba(3, 144, 164, 1) 100%);
  gap: 50px;
  flex-wrap: wrap;

  div {
    width: 30%;
    border: 2px solid #053505;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    p {
      color: #035c03;
      font-weight: 500;
    }
  }

  img {
    width: 300px;
    height: 300px;
    object-fit: cover;

  }

  h4 {
    color: #011401;
    margin: 20px 0;

    span {
      color: green;
    }
  }

  @media screen and (max-width: 800px) {
    div {
      width: 100%;
    }
  }
}