.question-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 20px;
  height: 87vh;
  background: linear-gradient(180deg, rgba(233, 232, 241, 1) 0%, rgba(255, 255, 255, 1) 0%, rgb(152, 220, 229) 49%, rgb(164, 237, 247) 100%, rgba(3, 144, 164, 1) 100%);
  //overflow: hidden;

  .score-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
    gap: 20px;

    h1 {
      font-family: "Poppins Black", sans-serif;
      text-transform: capitalize;
      font-size: 24px;
    }

    .name {
      color: rgba(3, 144, 164, 1);
    }
  }

  .loader {
    display: flex;
    margin: auto;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .question-container {
    height: fit-content !important;
  }
}
